@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Xóa Dữ liệu Cá nhân";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="main-content-wrapper">
    <div class="login-card p-4">
        @* Sử dụng login-card để căn giữa và định dạng *@

        <h3 class="text-center mb-4">@ViewData["Title"]</h3>

        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Cảnh báo nghiêm trọng!</h4>
            <p>
                <strong>Việc xóa dữ liệu này sẽ xóa vĩnh viễn tài khoản của bạn và không thể khôi phục lại được.</strong>
            </p>
        </div>

        <div>
            <form id="delete-user" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-4" role="alert"></div>

                @if (Model.RequirePassword)
                {
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Vui lòng nhập mật khẩu của bạn." />
                        <label asp-for="Input.Password" class="form-label">Mật khẩu xác nhận</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                }

                <button class="w-100 btn btn-lg btn-danger" type="submit">XÓA DỮ LIỆU VÀ ĐÓNG TÀI KHOẢN</button>
            </form>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}