@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Đặt lại Mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Đảm bảo sử dụng layout chính
}

<div class="main-content-wrapper">
    <div class="login-card">

        <h2>@ViewData["Title"]</h2>
        <p class="text-muted">Vui lòng nhập email và mật khẩu mới của bạn.</p>
        <hr />

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-4" role="alert"></div>

            <input asp-for="Input.Code" type="hidden" />

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Tên@vídu.com" />
                <label asp-for="Input.Email" class="form-label">Địa chỉ Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Mật khẩu mới." />
                <label asp-for="Input.Password" class="form-label">Mật khẩu mới</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-floating mb-4">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Xác nhận mật khẩu." />
                <label asp-for="Input.ConfirmPassword" class="form-label">Xác nhận Mật khẩu</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-lg btn-custom-dark">ĐẶT LẠI MẬT KHẨU</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}